<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="Sistema Central"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MiAppFuturista"
        android:windowSoftInputMode="adjustResize"
        tools:targetApi="31">

        <activity
            android:name=".ui.main.MainActivity"
            android:exported="false" />

        <activity android:name=".ui.agenda.SearchUserActivity" android:exported="false" />
        <activity android:name=".ui.admin.AdminMainActivity" android:exported="false" />
        <activity android:name=".ui.admin.AdminCreateUserActivity" android:exported="false" />
        <activity android:name=".ui.admin.AdminModifyActivity" android:exported="false" />
        <activity android:name=".ui.admin.AdminVisualizerActivity" android:exported="false" />

        <activity
            android:name=".ui.user.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.user.UserMainActivity" android:exported="false" />

        <activity android:name=".ui.agenda.AgendaMainActivity" android:exported="false" />
        <activity android:name=".ui.agenda.PersonalInfoActivity" android:exported="false" />
        <activity android:name=".ui.agenda.LikesActivity" android:exported="false" />
        <activity android:name=".ui.agenda.PreferencesActivity" android:exported="false" />

        <activity android:name=".ui.calculator.CalculadoraActivity" android:exported="false" />

    </application>

</manifest>